<!DOCTYPE html>
<html lang="en" ng-app='ptfa'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Poiret+One|Lobster" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Angular App</title>
  </head>
  <body>
  <!-- <body ng-controller="PresentTenseController as ptfa"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src='scripts/app.js'></script>

  <div ng-controller="PresentTenseController as ptfa">
    <div ng-repeat="drink in ptfa.drinks | orderBy: 'name'">
      <div class="headline">
        <h1><u>{{drink.name}}</u></h1>
      </div>
      <img class='shrink' ng-src="{{drink.image}}" />
      <section ng-controller="SectionController as section">
        <ul class='center-buttons'>
          <li class="desc" ng-class="{ active: panel.isSelected(1) }">
            <button class="btn btn-default"><a href ng-click = "section.selectTab(1)"> Profile </a></button>
          </li>
          <li class="desc" ng-class="{ active: panel.isSelected(2) }">
            <button class="btn btn-default"><a href ng-click = "section.selectTab(2)"> Description </a></button>
          </li>
        </ul>
        <div class="wrap-med" ng-show="section.isSelected(1)">
          <h5>ABV: {{drink.abv}}%</h5>
          <h5>FG: {{drink.fg}}</h5>
          <h5>IBU: {{drink.ibu}}</h5>
        </div>

        <div class="wrap-med" ng-show= "section.isSelected(2)">
          <p> {{drink.description}}</p>
        </div>
      </section>
    </div>
        <!-- this button will only show if the value of the expression is true -->
  </div>

  <br>
  <hr>
  <br>

  <div ng-controller="PresentTenseSeasonal as ptfas">
    <h1 class="headings">SEASONAL BEER</h1>
    <div ng-repeat="drink in ptfas.drinks | orderBy: 'name'">
      <div class="headline">
        <h1><u>{{drink.name}}</u></h1>
      </div>
      <img class='shrink' ng-src="{{drink.image}}" />
      <section ng-controller="SectionController as section">
        <ul class="center-buttons">
          <li class="desc" ng-class="{ active: panel.isSelected(1) }">
            <button class="btn btn-default"><a href ng-click = "section.selectTab(1)"> Profile </a></button>
          </li>
          <li class="desc" ng-class="{ active: panel.isSelected(2) }">
            <button class="btn btn-default"><a href ng-click = "section.selectTab(2)"> Description </a></button>
          </li>
        </ul>

      <div class="wrap-med" ng-show="section.isSelected(1)">
        <h5>ABV:{{drink.abv}}%</h5>
        <h5>FG:{{drink.fg}}</h5>
        <h5>IBU:{{drink.ibu}}</h5>
      </div>
      <div class="wrap-med" ng-show="section.isSelected(2)">
        <p>{{drink.description}}</p>
      </div>
      </section>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div ng-controller="PresentTenseComingSoon as ptfacs">
    <h1 class="headings">COMING SOON</h1>
    <div ng-repeat="drink in ptfacs.drinks">
      <h3>{{drink.name}}</h3>
    </div>
  </div>

  </body>
</html>
