body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px;
  }
.headings {
  font-family: Times;
}
h1 {
  font-size: 50px !important;
  font-family: 'Lobster';
}
h5 {
  font-family: 'Old Standard TT'
}
p {
  font-family: 'Old Standard TT'
}
button {
  font-family: 'Old Standard TT'
}
.adjust-text {
  text-align: left;
}
.wrap-med {
  width:35%;
  margin-left: auto;
  margin-right: auto;
}
.shrink {
  width: 25%;
}
.headline {

}
.desc {
  list-style: none;
  display: inline;
  margin-left: 1%;
  padding-top: 10%;
}
.btn-default {
  margin-top: 0.5%;
}
a {
  text-decoration: none;
}
hr {
  width: 25%;
}
.center-buttons {
  margin-left: -3.5%;
}
.desc :hover {
  color: black;
  font-weight: bold;
}
a, a:hover, a:active {
  color: black;
}
a:visited {
  color: black !important;
}
