body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px;
  }
.adjust-text {
  text-align: left;
}
.wrap-med {
  width:35%;
  margin-left: auto;
  margin-right: auto;
}
.shrink{
  width: 25%;
}
