body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px;
  }

.adjust-text {
  text-align: left;
}
.wrap-med {
  width:35%;
  margin-left: auto;
  margin-right: auto;
}
.shrink{
  width: 25%;
}
.box {
  border: 1px solid black;
  margin-bottom: 2%;
}
.desc {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
}
.center-buttons {
  margin-left: -2%;
}
.desc :hover {
  color: black;
  font-weight: bold;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
